<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista odczytów</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Lista odczytów</h2>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id czujnika</th>
            <th>Temperatura</th>
            <th>Wilgotność</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempSensor : ${allSensors}">
            <td th:text="${tempSensor.sensorId}"></td>
            <td th:each="entry: ${tempSensor.values}">
                <span th:text="${entry.value}"></span>
            </td>
            <td th:text="${#temporals.format(tempSensor.date,'dd-MM-yyyy HH:mm:ss','CET')}"></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- sensors pagination -->
<!--/*@thymesVar id="i" type="java"*/-->
<nav aria-label="Pagination" th:if="${allSensors.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${allSensors.number eq 0} ? 'disabled'">
            <a aria-label="Start" class="page-link svg-icon"
               rel="tooltip"
               th:href="@{'/app/sensor/data/pagelist?page={id}'(id=1)}" title="Strona startowa">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">Start</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${allSensors.number - 5 lt 0} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{'/app/sensor/data/pagelist?page={id}'(id=${allSensors.number - 4})}"
               aria-label="Previous Pages"
               title="Poprzednie strony" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${allSensors.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{'/app/sensor/data/pagelist?page={id}'(id=${allSensors.number lt 2 ? 1 : allSensors.number})}"
               aria-label="Previous"
               title="Poprzednia strona" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq allSensors.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( allSensors.number + 1, (allSensors.totalPages > 5 +
            allSensors.number ? allSensors.number + 5 : allSensors.totalPages), 1)}">
            <a class="page-link" th:href="@{'/app/sensor/data/pagelist?page={id}'(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>

        </li>
        <li class="page-item" th:classappend="${allSensors.number + 1 eq allSensors.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{'/app/sensor/data/pagelist?page={id}'(id=${allSensors.number + 2})}"
               aria-label="Next"
               title="Następna strona" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${allSensors.number + 5 ge allSensors.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{'/app/sensor/data/pagelist?page={id}'(id=${allSensors.number + 6})}"
               aria-label="Next Pages"
               title="Następne strony" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">&raquo;&raquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${allSensors.number + 5 ge allSensors.totalPages} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{'/app/sensor/data/pagelist?page={id}'(id=${allSensors.totalPages - 4})}"
               aria-label="End"
               title="Strona końcowa" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20">Koniec</span>
            </a>
        </li>
    </ul>
</nav>